# CodeIgniter 4 gitignore
/writable/debugbar/
/writable/session/
/writable/logs/
/writable/uploads/
/writable/cache/

# Environment files
.env
# Assets
/public/assets/
!/public/assets/
/public/assets/*
!/public/assets/css/
!/public/assets/js/
/public/assets/css/*
/public/assets/js/*
!/public/assets/css/custom.css
!/public/assets/css/stylesheet.css
!/public/assets/css/style.css
!/public/assets/js/fulldisc_page.js
# IDE and other configurations
.idea/
.vscode/
*.log
